<%= form_with(model: resolution) do |form| %>
  <% if resolution.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(resolution.errors.count, "error") %> prohibited this resolution from being saved:</h2>

      <ul>
        <% resolution.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_area :body %>

    <%= form.label :time_limit, style: "display: block" %>
    <%= form.date_field :time_limit, min: 0.days.ago, value: Date.today + 1.week %>

    <%= form.label :commitment, style: "display: block" %>
    <%= form.select :commitment, Resolution.commitments.keys %>

    <%= form.label :temper, style: "display: block" %>
    <%= form.select :temper, Resolution.tempers.keys %>

    <%= form.label :offer, style: "display: block" %>
    <%= form.number_field :offer, in: 1..10000000000 %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
