<div id="<%= dom_id resolution %>">
  <p>
    Created <%= time_tag resolution.created_at, "data-local": "time-ago" %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= resolution.body %>
    <br>
    <strong>Time limit:</strong>
    <%= resolution.time_limit %>
    <br>
    <strong>Commitment:</strong>
    <%= resolution.commitment %>
    <br>
    <strong>Temper:</strong>
    <%= resolution.temper %>
    <br>
    <strong>Offer:</strong>
    <%= resolution.offer %>
  </p>
</div>
