<div id="<%= dom_id resolution %>">
  <p>
    <%= t("resolutions.created") %> <%= time_tag resolution.created_at, "data-local": "time-ago" %>
  </p>

  <p>
    <strong><%= t("resolutions.body") %>:</strong>
    <%= resolution.body %>
    <br>
    <strong><%= t("resolutions.time_limit") %>:</strong>
    <% days_left = (resolution.time_limit - Date.today).to_i %>
    <%= resolution.time_limit %> (<%= days_left %> <%= t('datetime.prompts.day').pluralize(days_left) %> left)
    <br>
    <strong><%= t("resolutions.commitment") %>:</strong>
    <%= resolution.commitment %>
    <br>
    <strong><%= t("resolutions.temper") %>:</strong>
    <%= resolution.temper %>
    <br>
    <strong><%= t("resolutions.offer") %>:</strong>
    <%= resolution.offer || 0 %>
    <br>
    <strong><%= t("resolutions.cost_for_daruma") %>:</strong>
    <%= resolution.cost.round(5) %> $
  </p>
</div>
