<p style="color: green"><%= notice %></p>

<h1><%= t("resolutions.title") %></h1>

<div id="resolutions">
  <% @resolutions.each do |resolution| %>
    <%= render resolution %>
    <p>
      <%= link_to t("resolutions.show_this_resolution"), resolution %>
    </p>
  <% end %>
</div>

<%= link_to t("resolutions.new_resolution"), new_resolution_path %>
