<%= form_with(model: resolution) do |form| %>
  <% if resolution.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(resolution.errors.count, "error") %> prohibited this resolution from being saved:</h2>

      <ul>
        <% resolution.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.rich_text_area :body %>
    <%= form.date_field :target_time, min: 0.days.ago, value: Date.today + 1.week %>
    <%= form.select :commitment, Resolution.commitment_types.keys %>
    <%= form.select :temper, Resolution.temper_types.keys %>

  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
